{% extends 'admin/base.html.twig' %}
{% block left_sidebar %}
{{ render(controller(
        'App\\Controller\\DefaultController::left',
        { 'active' : '' }
    )) }}
{% endblock %}

{% block entete %}
	<span class="fa fa-lock"></span>
	Changer de mot de passe
{% endblock %}
{% block page %}
	{% form_theme form with ['bootstrap_4_layout.html.twig'] only %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Enregistrer') }}</button>
	{{ form_end(form) }}


</div>{% endblock %}
