{% set in_create = ['new-categorie', 'new-user', 'new-article','new-gallery','new-slider','new-academic','new-level','new-news','new-sn'] %}
{% set in_settings = ['setting-users','setting-parameter'] %}
<div class="site-menubar">
	<div class="site-menubar-body">
		<div>
			<div>
				<ul class="site-menu" data-plugin="menu">
					<li class="site-menu-category">General</li>

					
					{% if is_granted('ROLE_ADMIN') %}
					<li class="site-menu-item has-sub {% if active == 'index' %} active {% endif %}">
						<a href="{{path('admin_index')}}">
							<i class="site-menu-icon wb-home" aria-hidden="true"></i>
							<span class="site-menu-title">Tableau de bord</span>
						</a>
					</li>
					{% endif %}
					
					
					{% if is_granted('ROLE_ADMIN') %}

					<li class="site-menu-category" style="display:none;">Elements</li>
						<li class="site-menu-item has-sub {% if active == 'contact' %} active {% endif %}">
							<a href="{{path('contact_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Contact</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'level' %} active {% endif %}">
							<a href="{{path('level_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Classe</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'academic' %} active {% endif %}">
							<a href="{{path('academic_year_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Année academic</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'news' %} active {% endif %}">
							<a href="{{path('news_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Publications membres</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'articles' %} active {% endif %}">
							<a href="{{path('articles_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Publications</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'categories' %} active {% endif %}">
							<a href="{{path('categories_index')}}">
								<i class="site-menu-icon icon fa-map-marker" aria-hidden="true"></i>
								<span class="site-menu-title">Règions</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'slider' %} active {% endif %}">
							<a href="{{path('slider_index')}}">
								<i class="site-menu-icon wb-order" aria-hidden="true"></i>
								<span class="site-menu-title">Slider</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active == 'gallery' %} active {% endif %}">
							<a href="{{path('gallery_index')}}">
								<i class="site-menu-icon wb-image" aria-hidden="true"></i>
								<span class="site-menu-title">Galérie</span>
							</a>
						</li>
						
						<li class="site-menu-item has-sub {% if active == 'user-list' %} active {% endif %}">
							<a href="{{path('admin_users')}}">
								<i class="site-menu-icon wb-users" aria-hidden="true"></i>
								<span class="site-menu-title">Utilisateurs</span>
							</a>
						</li>
						<li class="site-menu-item has-sub {% if active in in_create %}active open{% endif %} ">
							<a href="javascript:void()">
								<i class="site-menu-icon wb-plus-circle" aria-hidden="true"></i>
								<span class="site-menu-title">Ajouter</span>
								<span class="site-menu-arrow"></span>
							</a>
							<ul class="site-menu-sub">
								<li class="site-menu-item {% if active == 'new-news'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('news_new')}}">
										<span class="site-menu-title">Publication membre</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-article'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('articles_new')}}">
										<span class="site-menu-title">Publication</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-level'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('level_new')}}">
										<span class="site-menu-title">Classe</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-categorie'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('categories_new')}}">
										<span class="site-menu-title">Règion</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-academic'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('academic_year_new')}}">
										<span class="site-menu-title">Année academic</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-gallery'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('gallery_new')}}">
										<span class="site-menu-title">Image</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-slider'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('slider_new')}}">
										<span class="site-menu-title">Slider</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-sn'  %}active{% endif %}">
									<a class="animsition-link" href="{{path('social_network_new')}}">
										<span class="site-menu-title">Réseaux sociaux</span>
									</a>
								</li>
								<li class="site-menu-item {% if active == 'new-user'  %}active{% endif %}">
									<a class="animsition-link" href="{{ path('admin_user_create') }}">
										<span class="site-menu-title">Utilisateur</span>
									</a>
								</li>
							{% endif %}

							{% if is_granted('ROLE_TEACHER') and not is_granted('ROLE_ADMIN') %}
								<li class="site-menu-item {% if active == 'new-user'  %}active{% endif %}">
									<a class="animsition-link" href="">
										<i class="site-menu-icon wb-signal" aria-hidden="true"></i>
										<span class="site-menu-title">Signal</span>
									</a>
								</li>
							{% endif %}
						</li>
					</ul>
				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="site-menu-item has-sub {% if active in in_settings %}active open{% endif %} ">
						<a href="javascript:void(0)">
							<i class="site-menu-icon wb-settings" aria-hidden="true"></i>
							<span class="site-menu-title">Paramètres</span>
							<span class="site-menu-arrow"></span>
						</a>
						<ul class="site-menu-sub">
							<li class="site-menu-item {% if active == "setting-parameter" %}active{% endif %}">
								<a class="animsition-link" href="{{ path('parameter_index') }}">
									<span class="site-menu-title">Variables</span>
								</a>
							</li>
							<li class="site-menu-item {% if active == "setting-users" %}active{% endif %}">
								<a class="animsition-link" href="{{ path('admin_users_setting') }}">
									<span class="site-menu-title">Utilisateurs</span>
								</a>
							</li>
						</ul>
					</li>
				{% endif %}
			</ul>
			<div class="site-menubar-section" style="display:none;">
				<h5>
					Milestone
					<span class="float-right">30%</span>
				</h5>
				<div class="progress progress-xs">
					<div class="progress-bar active" style="width: 30%;" role="progressbar"></div>
				</div>
				<h5>
					Release
					<span class="float-right">60%</span>
				</h5>
				<div class="progress progress-xs">
					<div class="progress-bar progress-bar-warning" style="width: 60%;" role="progressbar"></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if app.user %}
]<div class="site-menubar-footer">
	<a href="{{ path('admin_users_setting') }}" class="fold-show" data-placement="top" data-toggle="tooltip" data-original-title="Settings">
		<span class="icon wb-settings" aria-hidden="true"></span>
	</a>
	<a href="javascript: void(0);" data-placement="top" data-toggle="tooltip" data-original-title="Lock">
		<span class="icon wb-eye-close" aria-hidden="true"></span>
	</a>
	<a href="{{ path('app_logout') }}" data-placement="top" data-toggle="tooltip" data-original-title="Logout">
		<span class="icon wb-power" aria-hidden="true"></span>
	</a>
</div>


{% endif %}
</div>
<div class="site-gridmenu">
<div>
	<div>
		<ul>
			<li><ahref="{{path('admin_users')}}"><i class="icon wb-user"></i><span>Utilisateurs</span></a></li>
			<li><ahref=""><i class="icon wb-order"></i><span>Documents</span></a></li>
			<li><ahref="{{path('admin_index')}}"><i class="icon wb-dashboard"></i><span>Tableau de bord</span></a></li>
		</ul>
	</div>
</div>
</div>
