{% extends "remark.html.twig" %}
{% block js %}
	<link rel="stylesheet" href="{{asset('remark/assets/examples/css/pages/register.css')}}">
	<script>
		Breakpoints();
	</script>
{% endblock %}

{% block pages %}


	<!-- Page -->
	<div class="section-1-container section-container">
    <div class="container">
        {# <div class="row">
            <div class="col section-1 section-description">
                <h1>Bootstrap 4: Align Center</h1>
                <div class="divider-1"><span></span></div>
                <p>A tutorial on how to align a "div" element vertically and horizontally in Bootstrap 4.</p>
            </div>
        </div> #}
        <div class="row">
            <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
 
                <div class="div-to-align">

					<h1 class="justify-content-center">{{App.name}}</h1>
                    
					<p>Créer votre compte</p>
					{{ form_start(registrationForm) }}
					<div class="form-group">
						<label class="sr-only" for="inputName">Nom</label>
						{{ form_widget(registrationForm.username, {attr: {class: 'form-control', id: "imputName", placeholder: "Name"}}) }}

					</div>
					<div class="form-group">
						<label class="sr-only" for="inputPassword">Mot de passe</label>
						{{ form_widget(registrationForm.plainPassword.first, {attr: {class: 'form-control', id: "inputPassword", placeholder: "Password"}}) }}

					</div>
					<div class="form-group">
						<label class="sr-only" for="inputPasswordCheck">Confirmer le mot de passse</label>
						{{ form_widget(registrationForm.plainPassword.second, {attr: {class: 'form-control', id: "inputPasswordCheck", placeholder: "Confirm Password"}}) }}

					</div>

					<div class="form-group clearfix">
						{{ form_widget(registrationForm.agreeTerms) }}
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn btn-primary btn-block">S'inscrire	</button>
					{{ form_end(registrationForm) }}

					<p>Vous avez déjà un compte? S'il vous plaît allez à
						<a href="{{path('app_login')}}">Se connecter</a>
					</p>
                </div>
 
            </div>
        </div>
    </div>
</div>

	<!-- End Page -->
{% endblock %}
{% block javascript %}
	<script src="{{asset('global/js/Plugin/animate-list.js')}}"></script>
	<script>
		(function (document, window, $) {
'use strict';

var Site = window.Site;
$(document).ready(function () {
Site.run();
});
})(document, window, jQuery);
	</script>
{% endblock %}
