{% extends "base.html.twig" %}
{% block body %}
	<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-2 bread">Enseignants certifiés</h1>
					<p class="breadcrumbs">
						<span class="mr-2">
							<a href="/">Acceuil
								<i class="ion-ios-arrow-forward"></i>
							</a>
						</span>
						<span>Enseignants
							<i class="ion-ios-arrow-forward"></i>
						</span>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				{% for item in teachers %}
					<div class="col-md-6 col-lg-3 ftco-animate">
					<div class="staff">
						<div class="img-wrap d-flex align-items-stretch">
							<div class="img align-self-stretch" style="background-image: url(https://lh3.googleusercontent.com/proxy/zGVKeBtyxColHOfOXtM6t4V2o0O8Xl9UW0EjhA1XlYpo-EFWJ3S1OrtWfLvA9pgWgyb9XnXDfq8ihj2g9xRLbzh4jlw-FK7G4eeAgvWm9ivy55r9IhYCI9TFPkZgPhl-f1TBhpDozDV_q1mphv70sPHdcfW_u2gm3QFHnKsickaJmOLT7Ao);"></div>
						</div>
						<div class="text pt-3 text-center">
							<h3>{{item.username}}</h3>
							<span class="position mb-2">{{item.role}}</span>
							<div class="faded">
								<p>{{item.about}}</p>
								<ul class="ftco-social text-center">
									{% for i in item.socialNetwork %}
									
										<li class="ftco-animate">
											<a href="{{i}}"  target="_blank">
												<span class="icon-{{loop.parent.data.social_networks[loop.index0].icon}}"></span>
											</a>
										</li>
									{% endfor %}
									
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
{% endblock %}
