{% extends "base.html.twig" %}
{% block body %}
	<header id="head" class="secondary">
		<div class="container">
			<h1>Rester informé</h1>
			{# <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p> #}
		</div>
	</header>

	<!-- container -->
	<section class="container">

		<div
			class="row">

			<!-- Article main content -->
			{# <article class="col-md-8 maincontent"> #}
			<article class="col-md-12 maincontent">
            
				<br/>
				<br/>
                <p>Publié le {{ annonce.createdAt ? annonce.createdAt | localizeddate('none', 'none', locale(), null, 'EEEE d MMMM Y')|capitalize : '' }}</p>

                {% if vich_uploader_asset(annonce) %}
				<p>
					<img src="{{ vich_uploader_asset(annonce) }}" alt="">
				</p>
                {% endif %}
                
				{{annonce.content|raw}}
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			{# <aside class="col-md-4 sidebar sidebar-right">

				<div class="row panel">
					<div class="col-xs-12">
						<h3>Lorem ipsum dolor sit</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras scelerisque cursus erat vitae interdum. Nam vehicula, felis eu semper tincidunt, mauris risus ultricies dolor, a tristique arcu libero sit amet felis. Donec venenatis sed velit eget dignissim.</p>
					</div>
				</div>
				<div class="row panel">
						<h3>Lorem ipsum dolor sit</h3>

					{% for item in annonces|slice(0,1)|sort|reverse %}
                        <div class="col-xs-12">
						<p>
							<img src="{{ vich_uploader_asset(item) }}" alt="">
						</p>
						<p>{{ (item.content|length > 50 ? item.content|raw|slice(0, 100) ~ '…' : item.content|raw) }}</p>
                        <a href="{{path('annonce_show',{'id' :item.id })}}">Lire la suite</a>
                    </div>
                    {% endfor %}
				</div>

			</aside> #}
			<!-- /Sidebar -->

		</div>
	</section>
{% endblock %}
