{{ form_start(form,{'attr':{
    'class' : 'appointment-form ftco-animate',
    'action' : path('contact_new')
}}) }}
	<div class="d-md-flex">
		<div class="form-group">
			{# <input type="text" class="form-control" placeholder="First Name"> #}
            {{ form_widget(form.firstname) }}
		</div>
		<div class="form-group ml-md-4">
			{# <input type="text" class="form-control" placeholder="Last Name"> #}
            {{ form_widget(form.lastname) }}

		</div>
	</div>
	<div class="d-md-flex">
		{# <div class="form-group">
			<div class="form-field">
				<div class="select-wrap">
					<div class="icon">
						<span class="ion-ios-arrow-down"></span>
					</div>
					<select name="" id="" class="form-control">
						<option value="">Select Your Course</option>
						<option value="">Art Lesson</option>
						<option value="">Language Lesson</option>
						<option value="">Music Lesson</option>
						<option value="">Sports</option>
						<option value="">Other Services</option>
					</select>
				</div>
			</div>
		</div> #}
		{# <div class="form-group ml-md-4"> #}
		<div class="form-group">

			{# <input type="text" class="form-control" placeholder="Phone"> #}
            {{ form_widget(form.phone) }}

		</div>
	</div>
	<div class="d-md-flex">
		<div class="form-group">
			{# <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea> #}
            {{ form_widget(form.message) }}

        </div>
		<div class="form-group ml-md-4">
            <button class="btn btn-secondary py-3 px-4">{{ button_label|default('Envoyer') }}</button>
		</div>
	</div>
{{ form_end(form) }}
